# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Gradle y builds
.gradle/
build/
*/build/
!gradle/wrapper/gradle-wrapper.jar

# Kotlin y Android específicos
local.properties
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.klib
composeApp/schemas/

# iOS específicos (Xcode)
*.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/
!*.xcworkspace/xcuserdata/

*.xcodeproj/
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/

DerivedData/
xcuserdata/
*.xcuserstate
*.xcsettings
*.xcscmblueprint

# Swift Package Manager
.build/

# CocoaPods (si se usase)
Pods/
Podfile.lock

# Logs y archivos de depuración
*.log
*.dSYM/
*.crash

# Otros
*.keystore
*.jks
*.hprof
*.so
*.tmp
*.swp
